resume = true

trace {
  fields = 'name,hash,status,exit,realtime,submit'
}

profiles {

setonix {
  workDir = "$PWD/work"
  process {
    cache = 'lenient'
    stageInMode = 'symlink'
  }

process {
    
    withName:mrbayes        { container = 'quay.io/biocontainers/mrbayes:3.2.7--h760cbc2_0' }
   
}

singularity {
 enabled = true
 autoMounts = true
 //runOptions = '-e TERM=xterm-256color'
 envWhitelist = 'TERM'
}

params.slurm_account = 'XXXXXX'
  process {
    executor = 'slurm'
    clusterOptions = "--account=${params.slurm_account}"
    queue = 'work'
    cpus = 1
    time = '1h'
    memory = '10GB'
    
    
    withName: 'mrbayes' {
      cpus = 18
      time = '24h'
      memory = '64GB'
    }
    
      
}
}
}
